@{
    ViewData["Title"] = "Restablecer contraseña";
    var userId = (string)ViewData["UserId"];
    var token = (string)ViewData["Token"];
}
<h2>@ViewData["Title"]</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="userId" value="@userId" />
    <input type="hidden" name="token" value="@token" />
    <div class="form-group mb-3 position-relative">
        <label for="password">Nueva contraseña</label>
        <input id="password" name="password" type="password" class="form-control" />
    </div>
    <button class="btn btn-primary">Restablecer</button>
    <a asp-action="Login" class="btn btn-secondary">Volver</a>
</form>

